[Unit]
Description=Yes please work now
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/dennis/.volta/bin/node /home/dennis/2420-assign-two/src/index.js
User=dennis
Group=dennis
Restart=always
RestartSec=10
TimeoutStopSec=90
SyslogIdentifier=hello_web

[Install]
WantedBy=multi-user.target
